extends layout
block content
    nav(class="navbar navbar-default") 
        a(class="navbar-brand") CarSafe Dashboard
    div(class="col-md-5")
        ul(class="list-group")    
            li(class="list-group-item") 
                strong Temperature 
                div(id="temperature") 68 °F
            li(class="list-group-item")
                strong CO Levels
                div(id="colevels")
            li(class="list-group-item")
                strong GPS
                div(id="colevels") Unavailable
        strong  
            a(href="http://192.168.3.37:8080/stream.html") Trigger live stream
                       

    script(src="/javascripts/script.js")
